<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthPoints</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="images/hPLogo.png" alt="HealthPoints" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Login.html">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Register.html">Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-main">
        <h1>HealthPoints</h1>
        <p>Medicamentos al alcance de tus compras del día a día. Gana por tí y tu bienestar canjeando fácilmente tus
            facturas por puntos para el futuro.</p>
        <button class="btn btn-crearCuenta" onclick="window.location.href='Register.html'">Registrarse</button>
        <div class="divider-container">
            <div class="divider"></div>
            <span class="divider-text">o</span>
            <div class="divider"></div>
        </div>
        <p>si ya tienes cuenta</p>
        <button class="btn btn-iniSesion" onclick="window.location.href='Login.html'">Iniciar sesión</button>
    </div>
</body>

</html>