<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterPage</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="custom-body">
    <nav class="navbar navbar-expand-lg fixed-top custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="images/hPLogo.png" alt="HealthPoints" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Login.html">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Register.html">Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-auth2" style="margin-top: 80px;">
        <h1 class="custom-h1">REGISTRARSE</h1>
        <div style="text-align: left; padding-left: 90px; padding-right: 90px; display: flex; flex-direction: column; gap: 0px;">
            <div style="margin: 0; padding: 0;">
                <label for="nombre" class="label-auth">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div style="margin: 0; padding: 0;">
                <label for="pApellido" class="label-auth">Primer Apellido</label>
                <input type="text" class="form-control" id="pApellido" placeholder="Primer Apellido">
            </div>
            <div style="margin: 0; padding: 0;">
                <label for="sApellido" class="label-auth">Segundo Apellido</label>
                <input type="text" class="form-control" id="sApellido" placeholder="Segundo Apellido">
            </div>
            <div style="margin: 0; padding: 0;">
                <label for="cedula" class="label-auth">Cédula</label>
                <input type="text" class="form-control" id="cedula" placeholder="Cédula">
            </div>
            <div style="margin: 0; padding: 0;">
                <label for="correo" class="label-auth">Correo</label>
                <input type="text" class="form-control" id="correo" placeholder="Correo">
            </div>
            <div style="margin-top: 32px; padding: 0; display: flex; flex-direction: column;">
                <label for="genero" class="label-auth">Género</label>
                <select class="form-select customSelect" aria-label="Default select example" id="genero" required>
                    <option disabled selected style="color: #b4b4b4;">Elegir opción</option>
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                    <option value="3">No especificar</option>
                  </select>
            </div>
            <div style="margin: 0; padding: 0; padding-bottom: 10px; position: relative;">
                <label for="contra" class="label-auth">Contraseña</label>
                <input type="password" class="form-control" id="contra" placeholder="Contraseña">
                <img id="toggleContra" src="images/eye.png" alt="Mostrar/Ocultar" 
                style="position: absolute; right: 10px; top: 73%; transform: translateY(-50%); cursor: pointer; width: 20px; height: 20px;">
            </div>
            <div style="margin: 0; padding: 0; padding-bottom: 10px; position: relative;">
                <label for="confirmContra" class="label-auth">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirmContra" placeholder="Confirmar contraseña" style="padding-right: 40px;">
                <img id="toggleConfirmContra" src="images/eye.png" alt="Mostrar/Ocultar" 
                style="position: absolute; right: 10px; top: 73%; transform: translateY(-50%); cursor: pointer; width: 20px; height: 20px;">
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; text-align: center;">
                <button class="btn btn-iniSesion2" onclick="window.location.href='#'">Registrarse</button>
                <a class="a-custom" href="./Login.html" rel="noopener noreferrer" style="line-height: 1.1;">¿Ya tienes cuenta?<br>Inicia Sesión</a>
            </div>
        </div>
    </div>
    <img src="images/fullHPIcon.png" alt="HPLogo" class="corner-image">
    <script>
        // Función para alternar la visibilidad de las contraseñas
        function togglePassword(inputId, iconId) {
            const inputField = document.getElementById(inputId);
            const toggleIcon = document.getElementById(iconId);
    
            if (inputField.type === "password") {
                inputField.type = "text";
                toggleIcon.src = "images/eye-slash.png"; // Cambia a la imagen de ojo tapado
            } else {
                inputField.type = "password";
                toggleIcon.src = "images/eye.png"; // Cambia a la imagen de ojo visible
            }
        }
    
        // Asignar los eventos de clic a los iconos de ojo
        document.getElementById('toggleContra').addEventListener('click', function() {
            togglePassword('contra', 'toggleContra');
        });
    
        document.getElementById('toggleConfirmContra').addEventListener('click', function() {
            togglePassword('confirmContra', 'toggleConfirmContra');
        });
    </script>
</body>

</html>